<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
body
    header
        include ./includes/header.jade
    include ./includes/cotizador-content.jade
    include ./includes/footer.jade