.container.text-roboto
    .row
        .col.m3.s12
            .collection.indigo.darken-1
                a.collection-item.indigo.darken-1.white-text
                    | Ensayos en agregados
                a.collection-item.indigo.darken-1.white-text 
                    | Ensayos en concreto
                a.collection-item.indigo.darken-1.white-text 
                    | Extracción, tallado y ensayo de compresión de testigos diamantinos en laboratorio
                a.collection-item.indigo.darken-1.white-text 
                    | Ensayos en mecánica de suelos
                a.collection-item.indigo.darken-1.white-text 
                    | Ensayos en agregado para pavimento
                a.collection-item.indigo.darken-1.white-text 
                    | Ensayos químicos en suelos y agregados
                a.collection-item.indigo.darken-1.white-text 
                    | Ensayos químicos en agua
                a.collection-item.indigo.darken-1.white-text 
                    | Ensayos en asfalto
                a.collection-item.indigo.darken-1.white-text 
                    | Ensayos en albañilería
        .col.m9.s12
            .card-panel.blue-grey.lighten-5
                h5 Selecione 
                table.table.bordered.centered.responsive-table.table-list(border="1")
                    thead
                        tr
                            th Código
                            th Descripción
                            th NTP
                            th ASTM
                    tbody
                        tr
                            td MA04A
                            td Densidad máxima teórica 1 (Rice)
                            td -
                            td D2041 / D2041M - 11

                        tr
                            td MA04A
                            td Densidad máxima teórica 2 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 3 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 4 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 5 (Rice)
                            td -
                            td D2041 / D2041M - 11

                        tr
                            td MA04A
                            td Densidad máxima teórica 6 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 7 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 8 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 9 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 10 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 11 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 12 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 13 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 14 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 15 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 16 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 17 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 18 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 19 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 20 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 21 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 22 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 23 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 24 (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 25  (Rice)
                            td -
                            td D2041 / D2041M - 11
                        tr
                            td MA04A
                            td Densidad máxima teórica 26 (Rice)
                            td -
                            td D2041 / D2041M - 11
            ul.pagination.right.blue-grey.lighten-5
                
                li.waves-effect#pag1
                    a(href='#!') 1
                li.waves-effect#pag2
                    a(href='#!') 2
                li.waves-effect#pag3
                    a(href='#!') 3
                li.waves-effect#pag4
                    a(href='#!') 4
                li.waves-effect#pag5
                    a(href='#!') 5
                li.waves-effect#pag6
                    a(href='#!') 6
                
    .row
        .col.m12.s12
            .card-panel.grey.darken-2.white-text
                .row
                    .col.m8.s12
                        h5 Densidad máxima teórica (Rice)
                    .col.m4.s12
                        .input-field
                            .col.m9
                                label Seleccione la cantidad
                            .col.m3
                                select
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7 
                table.table.bordered.centered.responsive-table(border="1")
                    thead
                        tr
                            th Código
                            th Descripción
                            th NTP
                            th ASTM
                            th Precio
                            th Costo
                    tbody
                        tr
                            td MA04A
                            td Densidad máxima teórica (Rice)
                            td -
                            td D2041 / D2041M - 11
                            td S/ 125.00
                            td S/ 150.00
        hr
        .row
            .col.m8
                h5 Precio total de la cotización
            .col.m4
                h4 S/ 200.00
script(src="../js/propios/cotizador.js")