.container
    .row
        .col.m4.s10
            br
            button.btn.center.grey.darken-2#btnRegresar Regresar
                i.material-icons.left keyboard_return
            br
            i.material-icons.right keyboard_arrow_down
            label.right Ampliar
            br
            img.responsive-img.card.z-depth-3.materialboxed(src="../images/maquinas/prueba1.png", alt="")
            .row
                .card-panel.blue-grey.lighten-5
                    label Galería de imágenes
                    .slider.lazy
                        .image
                            img.responsive-img.card.z-depth-1.materialboxed.content-details-product(src="../images/maquinas/prueba1.png", alt="miniatura del producto")
                    
                        .image
                            img.responsive-img.card.z-depth-1.materialboxed.content-details-product(src="../images/maquinas/prueba2.png", alt="miniatura del producto")
                    
                        .image
                            img.responsive-img.card.z-depth-1.materialboxed.content-details-product(src="../images/maquinas/prueba3.png", alt="miniatura del producto")
                    
                        .image
                            img.responsive-img.card.z-depth-1.materialboxed.content-details-product(src="../images/maquinas/prueba4.png", alt="miniatura del producto")
        .col.m8.s10
            .row
                .col.offset-m1.m11
                    br
                    .card-panel.center.blue-grey.lighten-5
                        h5 Balanza
                        br
                        h6 Precio  S/ 180.00
                    .row
                        .card-panel.indigo.darken-1
                            label.white-text Detalle del producto
                            hr
                            label.white-text.text-roboto ORIGINAL PENGUIN Men's 3 Button Long Sleeve Heathered Henley, Size XL Extra Large, Dark Shadow (grey)    
                        .row
                            .card-panel
                                table.table.bordered
                                    tbody
                                        tr
                                            td
                                                label Número de serie
                                            td
                                                p AKD-4562
                                        tr
                                            td 
                                                label Marca
                                            td
                                                p U-TEST
                                        tr
                                            td
                                                label Modelo
                                            td
                                                p Xielo
                                        tr
                                            td
                                                label Procedencia
                                            td
                                                p Rusia
                                        tr
                                            td
                                                label Proveedor
                                            td
                                                p U-TEST
                                        tr
                                            td
                                                label Fecha de adquisición
                                            td
                                                p 01/03/2017
                                        tr
                                            td
                                                label Fecha de última calibración
                                            td
                                                p 01/03/2017
                                        tr
                                            td
                                                label Fecha último mantenimiento
                                            td
                                                p 01/03/2017
                            
                            
script(src="../js/propios/slick.min.js" type="text/javascript")
script(src="../js/propios/detalle-maquina.js")