script(src="../js/generalidades.js")

.center
    .card.white
        img(src="../images/opciones/facebook-box.png", alt="logo facebook")
        img(src="../images/opciones/twitter-box.png", alt="logo twitter")
.grey.darken-2
    .center
        label DOSED SAC Ingeniería y construción - 2017. Todos los derechos reservados.