nav.nav-extended.white
    .nav-wrapper
        //img(srcset="../images/logo.png 1024w, ../images/logo_small.png 480w" style="margin-left: 30px").brand-logo.left.responsive-img
        img(src="../images/logo.png" alt="imagen de logo" style="margin-left: 30px").brand-logo#imgLogo
        a.button-collapse(href='#', data-activates='mobile-demo')
            i.material-icons.large.black-text menu
        ul#nav-mobile.right.hide-on-med-and-down(style="margin-right: 30px")
            li
                a.waves-effect.waves-green.black-text(href="../html/home.html")
                    | Inicio
            li
                a.waves-effect.waves-green.black-text(href="../html/nosotros.html")
                    | Nosotros
            li
                a.waves-effect.waves-green.black-text(href="../html/servicios.html")
                    | Servicios
            li
                a.waves-effect.waves-green.black-text("javascript: void(0)")
                    | 
            li
                a.waves-effect.waves-green.black-text(href="../html/cotizador.html")
                    | Cotizador
            li
                a.waves-effect.waves-green.black-text(href="../html/ubicanos.html")
                    | Ubícanos
            li
                a.waves-effect.waves-green.black-text(href="../html/contacto.html")
                    | Contacto
            li
                a.waves-effect.waves-green.black-text(href="../html/maquinas.html")
                    | Maquinaria DOSED
        ul#mobile-demo.side-nav
            li
                a.waves-effect.waves-green.black-text(href="../html/home.html")
                    | Inicio
            li
                a.waves-effect.waves-green.black-text(href="../html/nosotros.html")
                    | Nosotros
            li
                a.waves-effect.waves-green.black-text(href="../html/servicios.html")
                    | Servicios
            li
                a.waves-effect.waves-green.black-text("javascript: void(0)")
                    | Proyectos
            li
                a.waves-effect.waves-green.black-text("javascript: void(0)")
                    | Cotizador
            li
                a.waves-effect.waves-green.black-text(href="../html/ubicanos.html")
                    | Ubícanos
            li
                a.waves-effect.waves-green.black-text(href="../html/contacto.html")
                    | Contacto
            li
                a.waves-effect.waves-green.black-text(href="../html/maquinas.html")
                    | Maquinaria DOSED
    .nav-content
        ul.tabs.tabs-transparent
.fixed-action-btn
    a("javascript: void(0)").btn-floating.btn-large.indigo.darken-1
        i.large.material-icons live_help