style.
    .cr {
        min-width: 100%;
    }

.regular.slider
    div
        img(src="../images/home-carousel/slide-1.png", alt="imagen de publicidad").responsive-img.cr
    div
        img(src="../images/home-carousel/slide-2.png", alt="imagen de publicidad").responsive-img.cr
    div
        img(src="../images/home-carousel/slide-3.png", alt="imagen de publicidad").responsive-img.cr
.container
    .row
        .col.offset-m2.m8.offset-s1.s10
            h4.center Bienvenido a DOSED SAC
            p  DOSED es una empresa de ingeniería multidisciplinaria  que cuenta con  personal altamente capacitado en estudios  de suelos, consultoría, geotecnia, topografía y  mucho más. Estamos  orientados  al sector público y privado. No esperes más y contacta con nuestro equipo de expertos.
    .row
        .col.s12.m6
            img.responsive-img(src="../images/home-carousel/home.png", alt="persona dosed")
        .col.s12.m6
            h5.red-text.center.text-roboto ¿En qué podemos ayudarte?
            .row
                .col.offset-m1.m10
                    ul
                        //li
                            .boton-home#btnBloque1Servicios
                                span Servicios
                            br
                        //li
                            .boton-home#btnBloque1Cotizador
                                span Cotizador 
                            br
                        li
                            .boton-home#btnBloque1Ubicacion
                                span Encuentra nuestros locales 
                            br
                        li
                            .boton-home#btnBloque1Contacto
                                span Comunicate con nosotros
                            br
                        //li
                            .boton-home#btnBloque1Contacto
                                span Maquinaría DOSED
                            br
                        li.center
                            strong.text-roboto.center ¡Descarga nuestro brochure!
                            br
                            img#imgPDF(src="../images/opciones/pdf.png", alt="icono pdf")
                            img#PDFhover(src="../images/opciones/pdf-down.png", alt="icono pdf")
                            img#PDFselected(src="../images/opciones/pdf-check.png", alt="icono pdf")
                        li.center
                            strong.text-roboto.center ¡Cotiza precios ahora!
                            br
                            img#imgEXCEL(src="../images/opciones/excel.png", alt="icono excel")
.blue-grey.lighten-5
    .container
        .section
            .row.center
                h3.header.primary-text Nuestros servicios
        .row
            .col.m4.s12.center
                .card-panel.content-home.z-depth-3
                    img.responsive-img.materialboxed#block_1(src='../images/Servicios/200x300px/consultoria.png')
                    h5.center Consultoría
                    p.light
                        | Realizamos supervisión general de proyectos correspondiente al seguimiento y control de las actividades de acuerdo a los requerimientos del ente consultor o cliente, basándonos en la alta calidad de nuestro personal especializado y tecnología en equipos y laboratorio. Así mismo, realizamos asesorías geotécnicas emitiendo conceptos técnicos que contribuyan en la solución de problemas geotécnicos de modo práctico, simple y óptimo.
                    a(href="") Ver más
            .col.m4.s12.center
                .card-panel.content-home.z-depth-3
                    img.responsive-img.materialboxed#block_2(src='../images/Servicios/200x300px/laboratorio1.png')
                    h5.center Laboratorio
                    p.light
                        | DOSED ofrece a usted una gran variedad de ensayos de laboratorios, estos son realizados a través de una serie de parámetros analíticos con el fin de aportar las pruebas necesarias para la conformidad del estudio realizado. Contacte hoy a nuestro equipo de expertos para obtener más información.
            .col.m4.s12.center
                .card-panel.content-home.z-depth-3
                    img.responsive-img.materialboxed#block_3(src='../images/Servicios/200x300px/topografia2.png')
                    h5.center Topografía
                    p.light
                        | El  levantamiento  topográfico es la primera fase del estudio técnico  y  descriptivo  de un terreno. Se trata de examinar la superficie cuidadosamente teniendo en cuenta las características físicas, geográficas y geológicas del terreno, pero también las alteraciones existentes en el terreno y que se deban  a  la  intervención del hombre.
        .row
            .col.m4.s12.center
                .card-panel.content-home.z-depth-3
                    img.responsive-img.materialboxed#block_4(src='../images/Servicios/200x300px/cielo2.png')
                    h5.center Geotecnia
                    p.light
                        |  DOSED ofrece  servicios  de ingeniería geotécnica de expertos  incluyendo  recomendaciones de cimentación y  diseño,  sitio  de la clasificación   sísmica   específica, análisis  de   estabilidad   de taludes,  muros  de  contención, sistemas de apoyo a la excavación.
            .col.m4.s12.center
                .card-panel.content-home.z-depth-3
                    img.responsive-img.materialboxed#block_5(src='../images/Servicios/200x300px/construcion.png')
                    h5.center Civil
                    p.light
                        | DOSED ofrece a usted una gran variedad de ensayos de laboratorios, estos son realizados a través de una serie de parámetros analíticos con el fin de aportar las pruebas necesarias para la conformidad del estudio realizado. Contacte hoy a nuestro equipo de expertos para obtener más información.
            .col.m4.s12.center
                .card-panel.content-home.z-depth-3
                    img.responsive-img.materialboxed#block_6(src='../images/Servicios/200x300px/puente.png')
                    h5.center Estructuras
                    p.light
                        | DOSED cuenta con  experiencia en muchos aspectos  de  la  ingeniería  estructural,   incluyendo   el análisis, diseño y modernización de las  estructuras nuevas      y     existentes.
script(src="../js/propios/slick.min.js" type="text/javascript")
script(src="../js/propios/home.js" type="text/javascript")