.indigo.darken-1
    .container.white-text
        .row
            .col.m12.s10
                h4.center Maquinaría DOSED
                p.center ¡Conoce nuestras mejores máquinas y cómpralas al mejor precio, aprovecha ahora!    
            br
            .input-field.col.offset-m4.offset-s1.m6.s10
                i.material-icons.prefix search
                input#icon_prefix.validate(type='text')
                label(for='icon_prefix') ¿Cuál es el producto que está buscando?
            .col.m2.s12
                br
                button.btn.grey.darken-2.waves-effect.waves-light.center Buscar
.container
    .row
        .card.z-depth-3
            .row
                .col.m2.s11
                    img.responsive-img.materialboxed(src="../images/maquinas/prueba1.png", alt="", srcset="")
                .col.m10.s11
                    table.table.bordered.striped
                        tbody
                            tr
                                td
                                    p.center Nombre
                                td
                                    p.center Tipo
                                td
                                    p.center Marca
                                td
                                    p.center Precio
                                td
                                    p.center Ver
                            tr
                                td.center
                                    label Balanza
                                td.center
                                    label Máquina
                                td.center
                                    label UTEST
                                td.center
                                    label S/ 1580.00
                                td.center
                                    a.tooltipped(href="../html/detalle-maquina.html" data-position="right" data-delay="50" data-tooltip="Ver detalle")
                                        i.material-icons visibility
        .card.z-depth-3
            .row
                .col.m2.s11
                    img.responsive-img.materialboxed(src="../images/maquinas/prueba1.png", alt="", srcset="")
                .col.m10.s11
                    table.table.bordered.striped
                        tbody
                            tr
                                td
                                    p.center Nombre
                                td
                                    p.center Tipo
                                td
                                    p.center Marca
                                td
                                    p.center Precio
                                td
                                    p.center Ver
                            tr
                                td.center
                                    label Balanza
                                td.center
                                    label Máquina
                                td.center
                                    label UTEST
                                td.center
                                    label S/ 1580.00
                                td.center
                                    a.tooltipped(href="../html/detalle-maquina.html" data-position="right" data-delay="50" data-tooltip="Ver detalle")
                                        i.material-icons visibility                                                               