.map-content
    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3901.891630928753!2d-75.22539628518739!3d-12.050976691464498!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e963d473f1331%3A0xef074cedd2ccaabe!2sDOSED!5e0!3m2!1ses-419!2spe!4v1502295115732" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
.container
    .row
        .col.m2
            .adress-content
                p.white-text
                    <i class="material-icons">location_on</i>
                    |  &nbsp; Julio Sumar # 267, Huancayo
                p.white-text
                    <i class="material-icons">phone</i>
                    |  &nbsp; (064) 247389